*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .c1{
        border:5px solid red;
        width:80%;
        margin:10px;
    }
    .c2{
        border:5px solid black;
        margin:10px;
    }
    .c3{
        border:5px solid blue;
        margin:10px;
    }
    header{
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        div.logo-close{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            div.image{
                width: 50%;
            }
            input{
                position:relative;
                right:5%;
                width: 20px;

            }
            nav{
                background-color: #242946;
                opacity: .9;
                position:fixed;
                left: 0;
                top: 6%;
                width: 100vw;
                height: 100vh;
                border: 1px solid black;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 60%;
                    margin-bottom: 40%;
                    li{
                        border-top: 1px solid white;
                        button{
                            margin-top:10%;
                            width: 300px;
                            height: 50px;
                            background-color: transparent;
                            color:white;
                            border:1px solid transparent;
                            border-radius: .5em;
                            &:hover{
                                border:1px solid white;
                            }
                        }
                    }
                }
                div.social{
                    display: flex;
                    justify-content: space-between;
                    width: 20%;
                }
            }
            input:checked + nav{
                display: none;
            }
        }
    }





    footer{
        height: 100vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        color:white;
        div.form{
            height: 50%;
            width: 100%;
            background-color: #5266df;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            p{
                letter-spacing: 3px;
            }
            h2{
                text-align: center;
                font-size: 1.8em;
                margin: 0 5%;
                margin-top:-10%;
            }
            form{
                height: 30%;
                align-self: stretch;
                margin:0 10%;
                input{
                    width: 100%;
                    height: 40%;
                    border-radius: 0.5em;
                }        
                div{
                    height: 40%;
                    margin-top:5%;
                    background-color: #fb5859;
                    text-align: center;
                    border-radius: 0.5em;
                }
            }
        }
        div.contact{
            height: 50%;
            width: 100%;
            background-color: #242946;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            ul{
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
            div.social{
                width: 25%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.opciones{
    display:none;
}

.contenedor-dinamico{
    display:flex;
    flex-direction: column;
    align-items: center;
    input{
        display:none;
    }
    input#opcion1:checked ~ div.opcion1{
        background-color: purple;
        display: block;
    }
    input#opcion2:checked ~ div.opcion2{
        background-color: yellow;
        display: block;
    }
    input#opcion3:checked ~ div.opcion3{
        background-color: orange;

        display: block;
    }
}

.questions{
    display: flex;
    flex-direction: column;
    li{
        label,div.answer{
            margin: 2%;
        }
    }
    
}
.question{
    display:flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    label{
        padding-bottom: 10px;
        border-bottom: 1px solid black;
        width: 100%;
    }
    input{
        display:none;
    }

}
.answer{
    display:none;
    margin-top:20px;
}

input[name="answer"]:checked + div{
    display:block;
}

.frequently-asked{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    h2{
        margin: 5%;
        margin-bottom: 0;
    }
    p{
        text-align: center;
        margin: 5%;
        font-size: 1.6em;
    }
}
.download-browsers{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border:5px solid blue;
    .browser{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border:2px solid green;
        margin: 2% 0 ;
        padding: 15% 0;
        img{
            margin: 10% 0;
        }
        h2{
            margin-bottom:5%;
            }
        div{
            background-color: #5266df;
            width: 200px;
            height: 40px;
            border-radius: 0.5em;

            p{
                margin-top:10px;
                color:white;
                text-align: center;
            }
        }
    }
}
.download{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}