/*colores primarios*/
$Soft-Blue:      hsl(231, 69%, 60%);
$Soft-Red:       hsl(0, 94%, 66%);
/*colores secundaarios*/
$Grayish-Blue :  hsl(229, 8%, 60%);
$Very-Dark-Blue: hsl(229, 31%, 21%);
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
ul{
    list-style: none;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.c1{
    /*border:1px solid red;*/
    width:80%;
    /*margin:10px;*/
}
.c2{
    /*border:5px solid black;*/
    /*margin:10px;*/
}
.c3{
    /*border:1px solid blue;*/
    margin:10px;

}
.c4{
    /*border:1px solid orange;*/
    margin:10px;
}
.c5{
    /*border:1px solid purple;*/
    margin:10px;
}
header{
    display: flex;
    justify-content: space-between;
    .navigation{
        display:none;
    }
}

.general-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 5%;
        text-align: center;

    }
    p{
        text-align: center;
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 5%;
    }
}


.simple{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:20%;
    .image-table{
        
    }
    .simple-text{
        h1{
            font-size: 1.5em;
            text-align: center;
            margin-top:15%;
            margin-bottom: 7%;
        }
        p{
            margin-bottom:7%;
        }
    }
}
.simple-buttons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    button{
        padding-top:3%;
        width: 47%;
        border-radius: 5%;
    }
    button:first-child{
        margin-right:3%;
        background-color: $Soft-Blue;
        color:white;
    }
    button:last-child{
        margin-left:3%;
    }
}

.features{

    margin-top:40%;
}


.container-image-aside{
    display:none;
}
.options{
    display:flex;
    flex-direction: column;
    label:first-child{
        border-top:1px solid grey;
    }
    label{
        border-bottom:1px solid grey;
        text-align: center;
        padding-left:25%;
        padding-right:25%;
        
        p{
            margin-top:10%;
            padding-bottom:10%;
        }
        
        p:hover{
            border-bottom: 5px solid $Soft-Red;
        }
    }
    input{
        display:none;
    }


    input#opcion1:checked ~ div.tab1{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-top:15%;
    }
    input#opcion2:checked ~ div.tab2{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-top:15%;
     
    }
    input#opcion3:checked ~ div.tab3{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-top:15%;
    }
}


.download{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:30%;
    .download-browsers{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1100px;
        width: 80%;
        .browser{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 33%;
            img{
                width:30%
            }
            div{
                h1,p{
                    text-align: center;
                }
                p{
                    margin-top:5%
                }
            }
            img.dots{
                width: 100%;
            }
            button{
                background-color: $Soft-Blue;
                color:white;
                width:80%;
                height: 70px;
                border-radius: 5%;
            }
        }   
        .firefox{
        }
        .opera{
        }
    }
}

.frequently{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:40%;
    .general-text{
        h2{
            width: 80%;
            text-align: center;
        }
    }
    .questions{
        display:flex;
        flex-direction: column;
        align-items: space-between;
        width: 100%;
        height: 600px;
        label{
            padding: 5% 0;
            border-bottom: 1px solid grey;
        }
        input{
            display: none;
        }
        p{
            display:none;
        }
        input#question1:checked + p{
            display:inline;
            line-height: 2;
            padding: 10% 0;
            border-bottom: 1px solid grey;
        }
        input#question2:checked + p{
            display:inline;
            line-height: 2;    
            padding: 10% 0;
            border-bottom: 1px solid grey;
        }
        input#question3:checked + p{
            display:inline;
            line-height: 2;
            padding: 10% 0;
            border-bottom: 1px solid grey;
        }
        input#question4:checked + p{
            display:inline;
            line-height: 2;
            padding: 10% 0;
            border-bottom: 1px solid grey;
        }
    }
    button{
        background-color: $Soft-Blue;
        color:white;
        width:100px;
        height: 60px;
        border-radius: 5%;
        /*margin-top:-20%;*/
        /*margin-bottom: 30%;*/
    }
}


footer{
    width: 100%;
    .form{ 
        color:white;
        background-color:$Soft-Blue;
        display:flex;
        flex-direction: column;
        align-items: center;
        p{
            width:100%;
            text-align: center;
            letter-spacing: 0.3em;
        }
        h2{
            width:80%;
            text-align: center;
        }
        .inputs{
            width: 80%;
            input,button{
                width: 100%;
                height: 70px;
                border-radius: 5%;
                margin-left:  5px;
                margin-right:  5px;
            }
            button{
                background-color: $Soft-Red;
                color:white;
                margin-top: 10px;
                margin-bottom: 30px;
            }
        }
    }
    .contact{
        background-color: $Very-Dark-Blue;
        display:flex;
        flex-direction: column;
        align-items: center;
        .texto-fondo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .bookmark{
                width: 60%;
            }
            .link-list{
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                div{
                    margin: 15% 0;
                    a{
                        color:white;
                        text-decoration: none;
                    }
                }
            }
        }
        .logos{
            display: flex;
            justify-content: space-between;
            width:20%;
        }
    }

}

@media screen and (min-width:1440px){
    .c1{
        width: 100%;
    }
    body{
        align-items: stretch;
        border:5px solid black;
    }
    header{
        margin: 50px 100px;
        .bookmark{
            height: 50px;
        }
        .burger{
            display:none;
        }
        .navigation{
            margin-right:250px;
            display:flex;
            justify-content: space-around;
            width: 30%;
            button{
                height: 50px;
                width: 100px;
                background-color: transparent;
                border:0 solid transparent;
                border-radius: 10%;
                font-size: 1em;
                &:hover{
                    background-color: $Soft-Red;
                    border-radius: 10%;
                    color:white;
                }
            }
        }
    }

    .general-text{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        h2{
            font-size: 1.5em;
            font-weight: 500;
            margin-bottom: 5%;
        }
        p{
            text-align: center;
            line-height: 1.5;
            font-weight: 400;
            margin-bottom: 5%;
        }
    }

    .simple{
        display:flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top:0;
        .simple-text{
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left:5%;
            h1{
                margin-top:0;
                width: 70%;
                font-size: 2.5em;
                text-align: left;
            }
            p{
                width: 70%;
                font-size: 1.5em;
                text-align: left;
            }
            .simple-buttons{
                width: 50%;
                font-size: 1em;
                text-align: center;
                
            }
        }
      
    }
    .features{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    .general-text{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top:100px;
        h2{
            font-size: 2.5em;
            font-weight: 500;
            margin-bottom: 5%;
         }
        p{
            font-size: 1.5em;
            text-align: center;
            line-height: 1.5;
            font-weight: 400;
            margin-bottom: 5%;
        }
}
        margin-top:0;
    }
    .options{
        display:flex;
        flex-direction: row;
        justify-content: center;  
        label{
            p{
                font-size:2em;
            }
        }

    }

    .container-image-aside{
        display:none;
    }
    .options{
        display:flex;
        flex-direction: column;
        input#opcion1:checked ~ div.tab1{
            display:flex;
            flex-direction: row;
            justify-content: center;
            margin-top:5%;
            .aside-image{
                width: 40%;
                display:flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-left:2%;
                p{
                    text-align: left;
                }
                button{
                    width: 100px;
                    height: 50px;
                    background-color: $Soft-Blue;
                    color:white;
                    border-radius: 10%;
                }
            }
            .image-page{
                width: 50%;
                margin-right:2%;
            }
        }
        input#opcion2:checked ~ div.tab2{
            display:flex;
            flex-direction: row;
            justify-content: center;
            margin-top:5%;
            .aside-image{
                width: 40%;
                display:flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-left:2%;
                p{
                    text-align: left;
                }
                button{
                    width: 100px;
                    height: 50px;
                    background-color: $Soft-Blue;
                    color:white;
                    border-radius: 10%;
                }
            }
            .image-page{
                width: 50%;
                margin-right: 2%;
            }
        }
        input#opcion3:checked ~ div.tab3{
            display:flex;
            flex-direction: row;
            justify-content: center;
            margin-top:5%;
            .aside-image{
                width: 40%;
                display:flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-left:2%;
                p{
                    text-align: left;
                }
                button{
                    width: 100px;
                    height: 50px;
                    background-color: $Soft-Blue;
                    color:white;
                    border-radius: 10%;
                }
            }
            .image-page{
                width: 50%;
                margin-right: 2%;
            }
        }
    }
    .download{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top:0;
        height: 900px;
        div{
            h2{
                font-size: 2.5em;
            }
            p{
                font-size: 1.5em;
            }
        }
        .download-browsers{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            height: 700px;
            width: 90%;
            .browser{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: 70%;
                width: 30%;
                img{
                    width:30%
                }
                div{
                    h1,p{
                        text-align: center;
                    }
                    p{
                        margin-top:5%
                    }
                }
            }   
            .firefox{
                margin-top:5%;
            }
            .opera{
                margin-top:10%;
            }
        }
    }

    .frequently{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top:0;
        height: 1300px;
        div{
            h2{
                font-size: 2.5em;
            }
            p{
                font-size: 1.5em;
            }
        }
        .questions{
            display:flex;
            flex-direction: column;
            align-items: space-between;
            width: 60%;
            height: 900px;
            label{
                border-bottom: 1px solid grey;
                font-size: 2em;
            }
            input{
                display: none;
            }
            p{
                display:none;
            }
            input#question1:checked + p{
                display:inline;
                line-height: 2;
                border-bottom: 1px solid grey;
                
            }
            input#question2:checked + p{
                display:inline;
                line-height: 2;    
                border-bottom: 1px solid grey;
            }
            input#question3:checked + p{
                display:inline;
                line-height: 2;
                border-bottom: 1px solid grey;
            }
            input#question4:checked + p{
                display:inline;
                line-height: 2;
                border-bottom: 1px solid grey;
            }
        }
    }
    footer{
        .form{
            p{
                width: 50%;
                font-size: 1.5em;
                margin-top: 5%;
            }
            h2{
                width: 50%;
                font-size: 3em;
            }
            .inputs{
                display: flex;
                justify-content: center;
                width: 50%;
                input{
                    width: 200%;
                    margin-left:0;
                    margin-right:5px;
                }
                button{
                    width: 100%;
                    margin-left:5px;
                    margin-right: 0;
                    margin-top: -1px;
                }
           
            }
        }
        .contact{
            flex-direction: row;
            justify-content: space-around;
            height: 100px;
            .texto-fondo{
                margin-left:-200px;
                flex-direction: row;
                .link-list{
                    width: 500px;
                    flex-direction: row;
                }
            }
            .logos{
                width: 100px;
            }
    
        }
    }

}
   
