/*colores primarios*/
/*colores secundaarios*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.c1 {
  /*border:1px solid red;*/
  width: 80%;
  margin: 10px;
}

.c2 {
  /*border:5px solid black;*/
  /*margin:10px;*/
}

.c3 {
  /*border:1px solid blue;*/
  margin: 10px;
}

.c4 {
  /*border:1px solid orange;*/
  margin: 10px;
}

.c5 {
  /*border:1px solid purple;*/
  margin: 10px;
}

header {
  display: flex;
  justify-content: space-between;
}
header .navigation {
  display: none;
}

.general-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.general-text h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 5%;
}
.general-text p {
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 5%;
}

.simple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20%;
}
.simple .simple-text h1 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 7%;
}
.simple .simple-text p {
  margin-bottom: 7%;
}

.simple-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.simple-buttons button {
  padding-top: 3%;
  width: 47%;
  border-radius: 5%;
}
.simple-buttons button:first-child {
  margin-right: 3%;
  background-color: #5368df;
  color: white;
}
.simple-buttons button:last-child {
  margin-left: 3%;
}

.features {
  margin-top: 40%;
}

.container-image-aside {
  display: none;
}

.options {
  display: flex;
  flex-direction: column;
}
.options label:first-child {
  border-top: 1px solid grey;
}
.options label {
  border-bottom: 1px solid grey;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}
.options label p {
  margin-top: 10%;
  padding-bottom: 10%;
}
.options label p:hover {
  border-bottom: 5px solid #fa5757;
}
.options input {
  display: none;
}
.options input#opcion1:checked ~ div.tab1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15%;
}
.options input#opcion2:checked ~ div.tab2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15%;
}
.options input#opcion3:checked ~ div.tab3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15%;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}
.download .download-browsers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1100px;
  width: 80%;
}
.download .download-browsers .browser {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 33%;
}
.download .download-browsers .browser img {
  width: 30%;
}
.download .download-browsers .browser div h1, .download .download-browsers .browser div p {
  text-align: center;
}
.download .download-browsers .browser div p {
  margin-top: 5%;
}
.download .download-browsers .browser img.dots {
  width: 100%;
}
.download .download-browsers .browser button {
  background-color: #5368df;
  color: white;
  width: 80%;
  height: 70px;
  border-radius: 5%;
}
.frequently {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40%;
}
.frequently .general-text h2 {
  width: 80%;
  text-align: center;
}
.frequently .questions {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
  height: 600px;
}
.frequently .questions label {
  padding: 5% 0;
  border-bottom: 1px solid grey;
}
.frequently .questions input {
  display: none;
}
.frequently .questions p {
  display: none;
}
.frequently .questions input#question1:checked + p {
  display: inline;
  line-height: 2;
  padding: 10% 0;
  border-bottom: 1px solid grey;
}
.frequently .questions input#question2:checked + p {
  display: inline;
  line-height: 2;
  padding: 10% 0;
  border-bottom: 1px solid grey;
}
.frequently .questions input#question3:checked + p {
  display: inline;
  line-height: 2;
  padding: 10% 0;
  border-bottom: 1px solid grey;
}
.frequently .questions input#question4:checked + p {
  display: inline;
  line-height: 2;
  padding: 10% 0;
  border-bottom: 1px solid grey;
}
.frequently button {
  background-color: #5368df;
  color: white;
  width: 100px;
  height: 60px;
  border-radius: 5%;
  /*margin-top:-20%;*/
  /*margin-bottom: 30%;*/
}

footer .form {
  color: white;
  background-color: #5368df;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .form p {
  width: 100%;
  text-align: center;
  letter-spacing: 0.3em;
}
footer .form h2 {
  width: 80%;
  text-align: center;
}
footer .form .inputs {
  width: 80%;
}
footer .form .inputs input, footer .form .inputs button {
  width: 100%;
  height: 70px;
  border-radius: 5%;
  margin-left: 5px;
  margin-right: 5px;
}
footer .form .inputs button {
  background-color: #fa5757;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
}
footer .contact {
  background-color: #252b46;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contact .texto-fondo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .contact .texto-fondo .bookmark {
  width: 60%;
}
footer .contact .texto-fondo .link-list {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer .contact .texto-fondo .link-list div {
  margin: 15% 0;
}
footer .contact .texto-fondo .link-list div a {
  color: white;
  text-decoration: none;
}
footer .contact .logos {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

@media screen and (min-width: 1440px) {
  .c1 {
    width: 100%;
  }

  body {
    align-items: stretch;
  }

  header .burger {
    display: none;
  }
  header .navigation {
    border: 5px solid blue;
    display: flex;
    justify-content: space-around;
    width: 30%;
  }

  .general-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .general-text h2 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 5%;
  }
  .general-text p {
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 5%;
  }

  .simple {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 0;
  }
  .simple .simple-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5%;
  }
  .simple .simple-text h1 {
    width: 70%;
    font-size: 2.5em;
    text-align: left;
  }
  .simple .simple-text p {
    width: 70%;
    font-size: 1.5em;
    text-align: left;
  }
  .simple .simple-text .simple-buttons {
    width: 50%;
    font-size: 1em;
    text-align: center;
  }

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .features .general-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .features .general-text h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 5%;
  }
  .features .general-text p {
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 5%;
  }

  .options {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .options label p {
    font-size: 2em;
  }

  .container-image-aside {
    display: none;
  }

  .options {
    display: flex;
    flex-direction: column;
  }
  .options input#opcion1:checked ~ div.tab1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
  }
  .options input#opcion1:checked ~ div.tab1 .aside-image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2%;
  }
  .options input#opcion1:checked ~ div.tab1 .aside-image p {
    text-align: left;
  }
  .options input#opcion1:checked ~ div.tab1 .image-page {
    margin-right: 2%;
  }
  .options input#opcion2:checked ~ div.tab2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
  }
  .options input#opcion2:checked ~ div.tab2 .aside-image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2%;
  }
  .options input#opcion2:checked ~ div.tab2 .aside-image p {
    text-align: left;
  }
  .options input#opcion2:checked ~ div.tab2 .image-page {
    margin-right: 2%;
  }
  .options input#opcion3:checked ~ div.tab3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
  }
  .options input#opcion3:checked ~ div.tab3 .aside-image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2%;
  }
  .options input#opcion3:checked ~ div.tab3 .aside-image p {
    text-align: left;
  }
  .options input#opcion3:checked ~ div.tab3 .image-page {
    margin-right: 2%;
  }

  .download {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    height: 900px;
  }
  .download div h2 {
    font-size: 2.5em;
  }
  .download div p {
    font-size: 1.5em;
  }
  .download .download-browsers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 700px;
    width: 90%;
  }
  .download .download-browsers .browser {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 30%;
  }
  .download .download-browsers .browser img {
    width: 30%;
  }
  .download .download-browsers .browser div h1, .download .download-browsers .browser div p {
    text-align: center;
  }
  .download .download-browsers .browser div p {
    margin-top: 5%;
  }
  .download .download-browsers .firefox {
    margin-top: 5%;
  }
  .download .download-browsers .opera {
    margin-top: 10%;
  }

  .frequently {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    height: 1300px;
  }
  .frequently div h2 {
    font-size: 2.5em;
  }
  .frequently div p {
    font-size: 1.5em;
  }
  .frequently .questions {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 60%;
    height: 900px;
  }
  .frequently .questions label {
    border-bottom: 1px solid grey;
    font-size: 2em;
  }
  .frequently .questions input {
    display: none;
  }
  .frequently .questions p {
    display: none;
  }
  .frequently .questions input#question1:checked + p {
    display: inline;
    line-height: 2;
    border-bottom: 1px solid grey;
  }
  .frequently .questions input#question2:checked + p {
    display: inline;
    line-height: 2;
    border-bottom: 1px solid grey;
  }
  .frequently .questions input#question3:checked + p {
    display: inline;
    line-height: 2;
    border-bottom: 1px solid grey;
  }
  .frequently .questions input#question4:checked + p {
    display: inline;
    line-height: 2;
    border-bottom: 1px solid grey;
  }

  footer .form p {
    width: 50%;
    font-size: 1.5em;
    margin-top: 5%;
  }
  footer .form h2 {
    width: 50%;
    font-size: 3em;
  }
  footer .form .inputs {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  footer .form .inputs input {
    width: 200%;
    margin-left: 0;
    margin-right: 5px;
  }
  footer .form .inputs button {
    width: 100%;
    margin-left: 5px;
    margin-right: 0;
    margin-top: -1px;
  }
  footer .contact {
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
  }
  footer .contact .texto-fondo {
    margin-left: -200px;
    flex-direction: row;
  }
  footer .contact .texto-fondo .link-list {
    width: 500px;
    flex-direction: row;
  }
  footer .contact .logos {
    width: 100px;
  }
}/*# sourceMappingURL=styles.css.map */